<div >
  <h1 class="h2">Lista De Cursos </h1>
  </div>
  <div>
  <table class='table table-blue table-striped'>
  <thead>
  <tr>
  </thead>
  <tr *ngFor="let tec of tecs">
<td>
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-text" style="text-align:center">Codigo: {{tec.id}}</h5>
                  <h5 class="card-title " style="text-align:center">{{tec.nombre}}</h5>
                  <h5 class="card-text" style="text-align:center">{{tec.descripcion}}</h5>
                  <h5 class="card-text" style="text-align:center">{{tec.precioventa}}</h5>
                <a href="https://www.invoicesimple.com/es/factura-simplificada" class="card-link">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</td>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
      </div>
    </div>
  
  </footer>
  
</tr>
</table>
</div>





<!-- Blog entries -->
<div class="w3-col l8 s12">
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
      <div class="w3-container">
          <h5 class="card-text" style="text-align:center">Codigo: {{tec.id}}</h5>
      </div>
  
      <div class="w3-container">
          <h5 class="card-title " style="text-align:center">{{tec.nombre}}</h5>
          <h5 class="card-text" style="text-align:center">{{tec.descripcion}}</h5>
                  <h5 class="card-text" style="text-align:center">{{tec.precioventa}}</h5>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><button class="w3-button w3-padding-large w3-white w3-border"><b>Comprar »</b></button></p>
          </div>
        </div>
      </div>
    </div>
    <hr>