<div >
    <h1 class="h2">Lista De Cursos </h1>
    </div>
    <div>
    <table class='table table-blue table-striped'>
    <thead>
    <tr>
    <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>descripcion</th>
    <th>precio venta</th>
    <th>Modificar</th>
    </tr>
    </thead>
    <tr *ngFor="let tec of tecs">
    <td>{{tec.id}}</td>
    <td>{{tec.nombre}}</td>
    <td>{{tec.descripcion}}</td>
    <td>{{tec.precioventa}}</td>
    <td><a routerLink="/editar/{{tec.id}}">ver</a></td>
    </tr>
  </table>
</div>