<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> AGREGAR CURSO </h1>
    </div>
    <p>Agregar un nuevo curso</p>
    <div class="form-group">
    <label>Codigo:
    <input [(ngModel)]="tec.id" class="form-control" placeholder="digite la Identificacion" type="number"/>
    </label>
    </div>
    <div class="form-group">
    <label> Nombre Del Curso:
    <input [(ngModel)]="tec.nombre" class="form-control" placeholder="digite el nombre" type="text"/>
    </label>
    </div>
    <div class="form-group">
    <label>Descripcion:
    <input [(ngModel)]="tec.descripcion" class="form-control" placeholder="digite Descripcion " type="text" />
    </label>
    </div>
    <div class="form-group">
      <label>Precio Venta:
      <input [(ngModel)]="tec.precioventa" class="form-control" placeholder="digite precio venta " type="number" />
      </label>
      </div>
    <div class="form-group">
    <button (click)="add()" class="btn btn-primary">Agregar </button>
    </div>



  