<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>VIDEO JUEGOS:</h2>
  <div class="media border p-3">
    <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>MU <small><i> Version 97x2018</i></small></h4>
      <p>Al contratar este pack tienes incluido: 
        - VPS :
        - Servidor 97x2018 con Files Esmeralda 97x2018
        - WEB (sin dominio .com) pero puede ser .sitiomu.com , por ejemplo "kingmu.sitiomu.com"
        - Antihack
        - Proteccion Anti-DDoS</p>
      <div class="media p-3">
        <img src="img_avatar2.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
        <div class="media-body">
          <h4>Caracteristicas:<small><i>Version 97x2018</i></small></h4>
          <p> 
            - Servidor 97x2018 listo para prender y entrar a jugar.
            Personajes: DW/SM ; DK/BK ; Elf/ME ; MG (no trae DarkLord)
            4 nuevos mapas 
            Nuevas alas (alas s3, alas custom) 
            Sistema de Duelos 
            NPC PK CLEAR 
            NPC RESET 
            Eventos Funcionando:
             MATA-MATA </p>
        </div>
      </div>  
    </div>
  </div>
</div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">
   <!-- Media top -->
  <div class="media">
    <img src="img_avatar1.png" class="align-self-start mr-3" style="width:60px">
    <div class="media-body">
      <h4>Version Season 2</h4>
      <p> Al contratar este pack tienes incluido: 
        - VPS 2gb RAM; 80gb HD; 2 nucleos; 1gbps LANPORT
        - Servidor s2 con Files Namech
        - WEB (sin dominio .com) pero puede ser .sitiomu.com , por ejemplo "kingmu.sitiomu.com"
        - Antihack
        - Proteccion Anti-DDoS </p>
       
        <p>Características: 
        - Servidor s2 listo para prender y entrar a jugar.
        Personajes: DW/SM ; DK/BK ; Elf/ME ; MG ; DL </p>
         <p> Mapas:
        Stadium, Lorencia, Davias, Noria, Dungeon, Losttower, Atlans, Tarkan, Icarus, Kalima, Aida, Kanturu, CryWolf, ValleyofLoren, Land. </p>
        <p>Eventos Funcionando:
          -Blood Castle, -Devil Square, -Chaos Castle, -Kalima, -Invasion de Dorados, -Kanturu Remain, -Castle Siege, -CryWolf, -LorenDeep
         </p>
         <p>Mapas:
          Stadium, Lorencia, Davias, Noria, Elbeland, Dungeon, Losttower, Atlans, Tarkan, Icarus, Kalima, Aida, Kanturu, Raklion, CryWolf, ValleyofLoren, Land
          </p>
          <p>Eventos Funcionando:
            -Blood Castle, -Devil Square, -Chaos Castle, -Kalima, -Invasion de Dorados, -Kanturu Remain, -Raklion, -Castle Siege, -CryWolf, -LorenDeep
        </p>
        </div>
  </div>

  <!-- Media middle -->
  <div class="media mt-3">
    <img src="img_avatar1.png" class="align-self-center mr-3" style="width:60px">
    <div class="media-body">
      <h4>Version Season 4</h4>
      <p>
        Al contratar este pack tienes incluido: 
        - VPS 2gb RAM; 80gb HD; 2 nucleos; 1gbps LANPORT
        - Servidor s4 con Files Ia Julia
        - WEB (sin dominio .com) pero puede ser .sitiomu.com , por ejemplo "kingmu.sitiomu.com"
        - Antihack
        - Proteccion Anti-DDoS
      </p>
         <p>Características: 
          - Servidor s4 listo para prender y entrar a jugar.
          Personajes: DW/SM ; DK/BK ; Elf/ME ; MG ; DL ; Summoner</p>
          <p>Mapas:
            Stadium, Lorencia, Davias, Noria, Elbeland, Dungeon, Losttower, Atlans, Tarkan, Icarus, Kalima, Aida, Kanturu, Raklion, CryWolf, ValleyofLoren, Land
           </p>
           <p>Eventos Funcionando:
            -Blood Castle, -Devil Square, -Chaos Castle, -Kalima, -Invasion de Dorados, -Kanturu Remain, -Raklion, -Castle Siege, -CryWolf, -LorenDeep
        </p>  
      </div>
   </div>

  <!-- Media bottom -->
  <div class="media mt-3">
    <img src="img_avatar1.png" class="align-self-end mr-3" style="width:60px">
    <div class="media-body">
      <h4>Version Season 8</h4>
      <p>
        ¡Atencion! Esta version es unicamente para administradores experimentados con servidores de MU. En esta version no se da Soporte
        
        Al contratar este pack tienes incluido: 
        - VPS 2gb RAM; 80gb HD; 2 nucleos; 1gbps LANPORT
        - Servidor s8 con Files Muemu s8
        - WEB (sin dominio .com) pero puede ser .sitiomu.com , por ejemplo "kingmu.sitiomu.com"
        - Antihack
        - Proteccion Anti-DDoS
        
      </p>
      <p>Características: 
        - Servidor s8 listo para prender y entrar a jugar.
        Personajes: DW/SM ; DK/BK ; Elf/ME ; MG ; DL ; Summoner ; RF
        </p>
      <p>
        Mapas:
        Todos los correspondientes a la Version.</p>
    </div>
  </div>
</div>

</body>
</html>

 <!-- Footer -->
 <footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACTANOS</h5>
        <p>
          castridrodriguez@unicesar.edu.co

        </p>
        <p> +57 304 331 45 31 </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pagos</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">En Linea</a>
          </li>
          <li>
            <a href="#!">Targeta</a>
          </li>
          <li>
            <a href="#!">Wester Union</a>
          </li>
          <li>
            <a href="#!">Bancolombia</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Soporte</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">¿Cómo asegurar mi servidor VPS?</a>
          </li>
          <li>
            <a href="#!">Politicas de Privacidad</a>
          </li>
          <li>
            <a href="#!">Condiciones</a>
          </li>
          <li>
            <a href="#!">Politicas de cookies</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://es-la.facebook.com/pg/tecgames.co/posts/"> Tec-Facebook</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCZI9lJ3IecaB9HCyuzaqVnQ"> Tec-Youtube</a>
          </li>
          <li>
            <a href="https://www.hostingnice.com/hosting"> Hosting</a>
          </li>
          <li>
            <a href="https://web.whatsapp.com/"> Whatsapp</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Registro Gratis</h5>
    </li>
    <li class="list-inline-item">
      <a href="ingresa" class="btn btn-danger btn-rounded">¡Ingresa!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 :
    <a href="https://mdbootstrap.com/education/bootstrap/"> TecGames.co </a>
  </div>
  <!-- Copyright -->
