<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>INGRESA</h2>
  <p>Ingrese bien los datos por favor</p>
  <form action="/action_page.php" class="was-validated">
    <div class="form-group">
      <label for="uname">Nombre:</label>
      <input type="text" class="form-control" id="uname" placeholder="Ingrese el nombre" name="uname" required>
      <div class="valid-feedback">Valido</div>
      <div class="inval6id-feedback">Por favor rellene este campo.</div>
    </div>
    <div class="form-group">
      <label for="uname">Correo:</label>
      <input type="text" class="form-control" id="uname" placeholder="Ingrese el correo" name="uname" required>
      <div class="valid-feedback">Valido</div>
      <div class="inval6id-feedback">Por favor rellene este campo.</div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
      <div class="valid-feedback">Valido</div>
      <div class="invalid-feedback">Por favor rellene este campo.</div>
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> Acepto Los terminos.
        <div class="valid-feedback">Valido</div>
        <div class="invalid-feedback">Marque esta casilla de verificación para continuar.</div>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</div>

</body>
</html>



 <!-- Footer -->
 <footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACTANOS</h5>
        <p>
          castridrodriguez@unicesar.edu.co

        </p>
        <p> +57 304 331 45 31 </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pagos</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">En Linea</a>
          </li>
          <li>
            <a href="#!">Targeta</a>
          </li>
          <li>
            <a href="#!">Wester Union</a>
          </li>
          <li>
            <a href="#!">Bancolombia</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Soporte</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">¿Cómo asegurar mi servidor VPS?</a>
          </li>
          <li>
            <a href="#!">Politicas de Privacidad</a>
          </li>
          <li>
            <a href="#!">Condiciones</a>
          </li>
          <li>
            <a href="#!">Politicas de cookies</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://es-la.facebook.com/pg/tecgames.co/posts/"> Tec-Facebook</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCZI9lJ3IecaB9HCyuzaqVnQ"> Tec-Youtube</a>
          </li>
          <li>
            <a href="https://www.hostingnice.com/hosting"> Hosting</a>
          </li>
          <li>
            <a href="https://web.whatsapp.com/"> Whatsapp</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Registro Gratis</h5>
    </li>
    <li class="list-inline-item">
      <a href="ingresa" class="btn btn-danger btn-rounded">¡Ingresa!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 :
    <a href="https://mdbootstrap.com/education/bootstrap/"> TecGames.co </a>
  </div>
  <!-- Copyright -->
